<div class="air-sign-in">
  <div>dfsd</div>
  <!-- <div class="sign-in-content mat-elevation-z3">
    <div class="sign-in-content-icon">
      <mat-icon svgIcon='logo'>
     </mat-icon>
    
      
    </div>

    <div class="sign-in-content-upps">
      <span>Sign in</span>

    </div>
    
    <div class="sign-in-content-account" fxLayout="row" fxLayoutGap="4px">
      <span>Dont have account?</span>
      <a href="#">sign-up</a>

    </div>
    <div fxLayout="column" class="sign-in-content-email">
      <span>Email address</span>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email">
      </mat-form-field>
    
    </div>
    <div fxLayout="column" class="sign-in-content-password">
      <span>Password</span>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput  formControlName="password">
      </mat-form-field>
    
    </div>

    <div class="sign-in-content-forgot" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-checkbox class="example-margin">Remember me</mat-checkbox>
      <a class="section-hr" href="">Forgot password? </a>

    </div>
    

    <div class="sign-in-content-signin">
      <button mat-raised-button  color="primary" type="submit">Sign in</button>
    </div>

    <div class="sign-in-content-hrline">
      <hr>
    </div>

    <div class="sign-in-content-icons-1">
      <button mat-stroked-button  	type="button">
        <mat-icon
          
          svgIcon='facebook'
        >
          
        </mat-icon>
        
      </button>
      </div>

      <div class="sign-in-content-icons-2">
      <button mat-stroked-button  type="button">
        <mat-icon
        
        svgIcon='twitter'
      >
        
      </mat-icon>
      </button>
      </div>

    <div class="sign-in-content-icons-3">
      <button mat-stroked-button  type="button">  <mat-icon
        
        svgIcon='github'
      >
        
      </mat-icon>
    </button>
    </div>

  </div> -->
</div>
