.sign-in {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 416px 1fr;
    grid-template-rows: 1fr 762px 1fr;
    background-color: #f1f5f9;

    &-content {
        grid-column: 2;
        grid-row: 2;
        padding: 48px;
        background-color: #fff;
        border-radius: 16px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 48px 72px 23px 110px 88px 29px 72px 52px 104px;


        &-icon {
            mat-icon {
                width: 48px;
                height: 48px;
            }
            grid-column: 1/4;
            grid-row: 1;

        }

        &-upps {
            margin-top: 32px;
            font-size: 32px;
            line-height: 40px;
            font-weight: 800;
        }

        &-account {
            a{
                color: #6466f1;
                text-decoration: none;
            }
            margin-top: 2px;
            grid-column: 1/4;
            grid-row: 3;
            font-weight: 500;

        }

        &-email {
          
            margin-top: 32px;
            grid-column: 1/4;
            grid-row: 4;
        }

        &-password {
            grid-column: 1/4;
            grid-row: 5;
        }

        &-forgot {
            a {
                color: #6466f1;
                text-decoration: none;
            }
            color: #6466f1;
            margin-top: 6px;
            grid-column: 1/4;
            grid-row: 6;
        }

        &-signin {
            .mat-raised-button {
                width: 100%;
                height: 48px;
                font-size: 14px;
                
            }
            margin-top: 24px;
            grid-column: 1/4;
            grid-row: 7;

        }

        &-hrline {
          
            margin-top: 32px;
            grid-column: 2/3;
            grid-row: 8;
           
        }

        &-icons-1 {
            margin-top: 32px;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row: 9;

            color: #65748b;
        }

        &-icons-2 {
            margin-top: 32px;
           grid-column: 2;
            grid-row: 9;

            color: #65748b;
        }

        &-icons-3 {
            margin-top: 32px;
            grid-column: 3;
            grid-row: 9;

            color: #65748b;
        }
    }
}


