.sign-in {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 416px 1fr;
    grid-template-rows: 1fr 762px 1fr;

    &-content {
        grid-column: 2;
        grid-row: 2;
        padding: 48px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 48px 40px 21px 88px 88px 23px 48px 21px 40px;


        &-icon {
            grid-column: 1/4;
            grid-row: 1;

        }

        &-upps {
            font-size: 2rem;
            font-weight: 800;
        }

        &-account {
            grid-column: 1/3;
            grid-row: 3;
            font-weight: 500;

        }

        &-email {
            grid-column: 1/3;
            grid-row: 4;
        }

        &-password {
            grid-column: 1/3;
            grid-row: 5;
        }

        &-forgot {
            grid-column: 1/4;
            grid-row: 6;
        }

        &-signin {
            grid-column: 2/3;
            grid-row: 7;

        }

        &-brline {
            grid-column: 2/3;
            grid-row: 8;
           
        }

        &-icons {
            
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row: 9;

            color: red;
        }
    }
}


















// .head-fon{
// border-bottom-color: rgba(241, 245, 249, 0.12);
// border-bottom-style: solid;
// border-bottom-width: 0px;
// border-image-outset: 0;
// border-image-repeat: stretch;
// border-image-slice: 100%;
// border-image-source: none;
// border-image-width: 1;
// border-left-color: rgba(241, 245, 249, 0.12);
// border-left-style: solid;
// border-left-width: 0px;
// border-right-color: rgba(241, 245, 249, 0.12);
// border-right-style: solid;
// border-right-width: 0px;
// border-top-color: rgba(241, 245, 249, 0.12);
// border-top-style: solid;
// border-top-width: 0px;
// box-sizing: border-box;
// color: rgb(255, 255, 255);
// display: flex;
// flex-basis: auto;
// flex-grow: 1;
// flex-shrink: 1;
// font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// font-feature-settings: "salt";
// font-size: 14px;
// height: 977px;
// line-height: 21px;
// position: static;
// tab-size: 4;
// text-rendering: optimizelegibility;
// text-size-adjust: 100%;
// width: 1213px 100%; 
// -webkit-font-smoothing: auto;
// -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// background-color: rgba(241, 245, 249, 0.12);
// }

// .head{
// align-items: center;
// border-bottom-color: rgba(241, 245, 249, 0.12);
// border-bottom-style: solid;
// border-bottom-width: 0px;
// border-image-outset: 0;
// border-image-repeat: stretch;
// border-image-slice: 100%;
// border-image-source: none;
// border-image-width: 1;
// border-left-color: rgba(241, 245, 249, 0.12);
// border-left-style: solid;
// border-left-width: 0px;
// border-right-color: rgba(241, 245, 249, 0.12);
// border-right-style: solid;
// border-right-width: 0px;
// border-top-color: rgba(241, 245, 249, 0.12);
// border-top-style: solid;
// border-top-width: 0px;
// box-sizing: border-box;
// color: rgb(255, 255, 255);
// display: flex;
// flex-basis: auto;
// flex-direction: column;
// flex-grow: 1;
// flex-shrink: 1;
// font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// font-feature-settings: "salt";
// font-size: 14px;
// height: 977px;
// justify-content: center;
// line-height: 21px;
// min-width: 0px;
// tab-size: 4;
// text-rendering: optimizelegibility;
// width: 1213px;
// -webkit-font-smoothing: auto;
// -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// background-color: #0f172a;
// }

// .header{
// background-color: rgb(30, 41, 59);
// border-bottom-color: rgba(241, 245, 249, 0.12);
// border-bottom-left-radius: 16px;
// border-bottom-right-radius: 16px;
// border-bottom-style: solid;
// border-bottom-width: 0px;
// border-image-outset: 0;
// border-image-repeat: stretch;
// border-image-slice: 100%;
// border-image-source: none;
// border-image-width: 1;
// border-left-color: rgba(241, 245, 249, 0.12);
// border-left-style: solid;
// border-left-width: 0px;
// border-right-color: rgba(241, 245, 249, 0.12);
// border-right-style: solid;
// border-right-width: 0px;
// border-top-color: rgba(241, 245, 249, 0.12);
// border-top-left-radius: 16px;
// border-top-right-radius: 16px;
// border-top-style: solid;
// border-top-width: 0px;
// box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
// box-sizing: border-box;
// color: rgb(255, 255, 255);
// display: block;
// font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// font-feature-settings: "salt";
// font-size: 14px;
// height: 672.688px;
// line-height: 21px;
// padding-bottom: 48px;
// padding-left: 48px;
// padding-right: 48px;
// padding-top: 48px;
// tab-size: 4;
// text-rendering: optimizelegibility ;
// width: 416px;
// }

// .menu{
//     border-bottom-color: rgba(241, 245, 249, 0.12);
// border-bottom-style: solid;
// border-bottom-width: 0px;
// border-image-outset: 0;
// border-image-repeat: stretch;
// border-image-slice: 100%;
// border-image-source: none;
// border-image-width: 1;
// border-left-color: rgba(241, 245, 249, 0.12);
// border-left-style: solid;
// border-left-width: 0px;
// border-right-color: rgba(241, 245, 249, 0.12);
// border-right-style: solid;
// border-right-width: 0px;
// border-top-color: rgba(241, 245, 249, 0.12);
// border-top-style: solid;
// border-top-width: 0px;
// box-sizing: border-box;
// color: rgb(255, 255, 255);
// font-feature-settings: "salt";
// font-size: 14px;
// height: 576.688px;
// line-height: 21px;
// margin-left: 0px;
// margin-right: 0px;
// max-width: 320px;
// tab-size: 4;
// text-rendering: optimizelegibility;
// width: 320px;
// -webkit-font-smoothing: auto;
// -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

// .menu-picture{
//     width: 3rem!important;
//     --tw-border-opacity: 0.12!important;
// }

// .menu-up-text{
//     letter-spacing: -.025em!important;
//     margin-top: 2rem!important;
//     line-height: 1.25!important;
//     font-size: 2rem!important;
//     font-weight: 800!important;
//     --tw-border-opacity: 0.12!important;

// }

// .menu-account-link{

//     margin-top: .125rem!important;
//     font-weight: 500!important;
//     align-items: baseline!important;
//     display: flex!important;
//     --tw-border-opacity: 0.12!important;

// }

// .flex-menu-account-link{
//     --tw-border-opacity: 0.12!important;
// }

// .flex-menu-account-link-href{
//     --tw-text-opacity: 1!important;
//     color: rgba(221,160,221)!important;
//     margin-left: .25rem!important;
//     --tw-border-opacity: 0.12!important;
//     color: inherit;
//     text-decoration: inherit;
// }

// .mat-form{
//     margin-top: 2rem!important;
//     --tw-border-opacity: 0.12!important;
// }

// .mat-form-field{
//     display: inline-block;
//     position: relative;
//     text-align: left;
//     width: 100%!important;
//     font: 400 .875rem/1.2857142857 Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
//     letter-spacing: normal;
//     font: 400 .875rem/1.2857142857 Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
//     letter-spacing: normal;
//     --tw-border-opacity: 0.12!important;
//     margin-top: 24px;
//     margin-bottom: 16px;
//     padding-bottom: 0;
//     position: relative;
   
// }

// .mat-form-em{
// position: relative;
//     top: 20px;
//     margin-top: 0;
//     -webkit-backface-visibility: hidden;
//     backface-visibility: hidden;
//     transition: none;
//     font-weight: 500;
//     --tw-text-opacity: 1!important;
//     color: rgba(var(--fuse-text-default-rgb),var(--tw-text-opacity))!important;
// }

// .section-hr{
//     padding-left: 80px;
//     color: pink;

// }

// .sign-in-button{
//     border-radius: 30px;
//     top: 4px;
    
//     padding: 5px 138px 5px 138px;
// }


// .hr-s{
//     margin-top: 2rem!important;
//     align-items: center!important;
//     display: flex!important;
//     --tw-border-opacity: 0.12!important;
   
// }
// .button-icon{
//     border-radius: 10px;
//     top: 10px;
// }


